@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@700&display=swap');

* {
    background-color: rgb(30, 30, 30);
    color: white;
    font-family: "EB Garamond", serif;
}

p {
    font-size: 20px;
}

.left-hr,
.right-hr,
.fleurons {
    display: inline-block;
}

.left-hr,
.right-hr{
    width: 120px;
    margin-top: auto;
    margin-bottom: auto;
}

.fleurons {
    width: 80px;
    text-align: center;
    font-size: 30px;
}

.divider {
    display: flex;
    justify-content: center;
}

.tangerine {
    font-family: Tangerine, cursive;
    font-size: 37px;
    line-height: 180%;
}

h1,
h2 {
    text-align: center;
}

.orange-link:hover {
    text-decoration: underline rgb(243, 146, 0);
    color: rgb(243, 146, 0);
}

.bio {
    margin-top: 50px;
}

.socialmedia {
    margin-top: 40px;
}

.socialmedia > div {
    display: flex;
    justify-content: center;
}

.fa {
    padding: 15px;
    font-size: 25px;
    width: 25px;
    text-align: center;
    text-decoration: none;
    margin: 5px 4px;
    border-radius: 50%;
  }

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}
  
.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-instagram {
    background: #C63388;
    color: white;
}

.fa-reddit {
    background: #ff5700;
    color: white;
}

.fa-github {
    background: grey;
    color: white;
}
