* {
    background-color: rgb(30, 30, 30);
    color: white;
}

h1,
h2,
h3,
h4 {
    text-align: center;
    font-family: serif;
}

.orange-link:hover {
    text-decoration: underline rgb(243, 146, 0);
    color: rgb(243, 146, 0);
}

.last-heading {
    margin-bottom: 2em;
}

.container-2 {
    display: flex;
    justify-content: center;
}

.container-1 {
    margin-bottom: 3em;
}

.container-1 img {
    width: 180px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 32px;
    text-align: center;
    text-decoration: none;
    margin: 5px 4px;
    border-radius: 50%;
  }

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}
  
.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-instagram {
    background: #C63388;
    color: white;
}

.fa-reddit {
    background: #ff5700;
    color: white;
}
