* {
    background-color: rgb(30, 30, 30);
    color: white;
}

h1,
h2,
h3,
h4 {
    text-align: center;
    font-family: serif;
}

a:hover {
    text-decoration: underline rgb(243, 146, 0);
    color: rgb(243, 146, 0);
}

.container-1 {
    display: flex;
    justify-content: center;
}

.last-heading {
    margin-bottom: 1cm;
}

.container-2 img {
    width: 180px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.container-2 {
    margin-top: 1cm;
}